/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-white{
    color: #fff !important;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* Navigation */

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav li{
    display: inline-block;
    line-height: 38px;
    position: relative;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    padding: 0 28px;
    display: block;
    line-height: 46px;
}

#nav > li > a{
    text-transform: uppercase;
}

#nav .nav-icon{
    font-size: 0.6rem;
    color: #fff;
    padding-left: 6px;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 140px;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    line-height: 38px;
    padding: 0 14px;
}

#nav > li:hover > a ,
#nav .subnav li:hover a{
    background-color: rgb(99, 98, 98);
    color: #fff;
}

#nav .subnav > li > a{
    color: #000;
}

#nav .subnav > li{
    width: 100%;
}

#slider{
    min-height: 500px;
    background-color: #333;
}

/* Search */

#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    line-height: 46px;
    font-size: 1.1rem;
}

#slider{
    margin-top: 46px;
    padding-top: 60%;
    background: url('/assets/img/band.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    /* width: 100% */
}
/* or: width: 100% de can giua */

#slider .text-heading{
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 5px;
}

#slider .text-description{
    font-weight: 100;
    font-size: 1rem;
}
 
#content{
    height: 2000px;
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 40px;
}

#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    font-size: 1.3rem;
    font-style: italic;
    opacity: 0.6;

}

#content .about-text{
    font-size: 1.3rem;
    text-align: justify;
    margin-top: 25px;
    line-height: 1.5rem;
    font-weight: 350;
}

#content .member-list{
    margin-top: 48px;
    display: flex;
}

/* Dung display: flex; or float: left; */
#content .member-item{
    /* float: left; */
    text-align: center;
    width: calc(100% / 3);  
}

#content .member-name{
    font-size: 1.2rem;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 50%;
}

#content .member-img:hover{
    /* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
    border: 8px solid rgba(206, 204, 204, 0.5);
    cursor: pointer;
}

/* Tour-section */

#content .tour-section{
    background-color: #000;
    margin-top: 50px;
    padding: 40px 0;
    text-align: center;
    justify-content: center;
}

#content > .tour-section > .content-section > .section-heading{
    margin-top: 10px;
}

#content > h2{
    color: #fff;
}

#content .tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    font-size: 1.1rem;
    padding: 6px 16px;
    border-bottom: 2px solid #ddd;
    text-align: left;
    color: #636363;
    list-style: none;

}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 2px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: right;
    margin-top: -1.1px;
}

/* Ticket section */

.place-section{
    margin-top: 36px;
}

.place-list{
    display: flex;
    margin: 0 -8px;
    list-style: none;

}

.place-items{
    width: calc(100% / 3);
    padding: 0 8px;

}

.place-img{
    width: 100%;
    background: cover;
    display: block;
}

.place-img:hover{
    opacity: 50%;
}

.place-body{
    background-color: #fff;
    padding: 16px;
}

.place-heading{
    font-style: bold;
    font-weight: 500;
    font-size: 1.2rem;
}

.place-sub-heading{
    font-style: italic;
    color: rgb(129, 129, 129);
    font-weight: 400;
    margin: 16px 0 12px;

}

.place-btn{
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 12px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    margin-bottom: 10px;
}

.place-btn:hover{
    background-color: rgb(206, 203, 203);
    color: rgb(0, 0, 0);
}


/* Footer*/

#footer{

}

/* Modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, 0.4);
    
}